.nodeStatus {
  &Succeed {
    &-bg {
      background-color: #f8fdf6;
    }

    &-icon {
      color: var(--success-color);
    }
  }

  &Processing {
    &-bg {
      background-color: #f7faff;
    }
  }

  &Terminated {
    &-bg {
      background-color: #ffffff;
    }

    &-icon {
      color: #8c8c8c;
    }
  }
}

.tagColor {
  background-color: #f2f4f7;
  color: rgba(0, 0, 0, 0.45);
}

.round {
  border-radius: 50%;
}

.desc {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  padding: 12px;
  color: red;
}
