.m-import-modal {
  .ant-modal-body {
    padding-bottom: 20px;

    .ant-progress-text {
      word-wrap: normal;
    }
  }

  &-tips {
    margin-left: 6px;
    font-size: 14px;
  }

  .question-import-mode {
    margin: 25px 0 10px 0;
  }

  .sec-1 {
    position: relative;
  }

  .sec-2 {
    text-align: center;
    margin-bottom: 20px;

    .err-text {
      margin-top: 40px;
    }

    .progress {
      width: 300px;
      margin-top: 40px;
    }

    .data {
      margin-top: 30px;
    }
  }

  .sec-3 {
    text-align: center;
    margin-bottom: 20px;

    .result {
      margin-top: 40px;
    }

    .z-err {
      color: #f24957;
    }

    .z-succ {
      color: #337eff;
    }

    .err-text {
      margin-top: 20px;
    }

    .err-url {
      margin-top: 20px;
    }
  }

  .u-alert {
    margin-top: 20px;
  }

  .u-tip {
    display: block;
  }

  .down-tips {
    margin-top: 15px;
  }

  .down-action {
    margin-top: 10px;
  }

  .down-item {
    margin-top: 6px;
  }

  .down-link {
    text-decoration: none;
  }

  .icon-download {
    color: #337eff;
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .type-tips {
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .up-tips {
    margin-top: 25px;
  }

  .up-action {
    margin-top: 15px;

    .ant-upload-list-item-name {
      line-height: 24px;
    }
  }

  .form-item-up {
    margin-bottom: 0;
  }

  .up-desc {
    margin-left: 106px;
    margin-top: 20px;
  }

  .z-emphasis {
    color: #ffaf0f;
  }

  .u-export {
    color: #337eff;
    cursor: pointer;
  }

  .z-disabled {
    color: #999;
    cursor: inherit;
  }

  .z-hide {
    display: none;
  }
}
