.jsoneditor {
  margin-top: 8px;

  &-wrapper-header {
    background: #313232;
    padding: 10px 16px;
    color: #838484;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    border-radius: 2px 2px 0 0;

    svg {
      cursor: pointer;

      &:hover {
        color: #337eff;
      }
    }
  }
}
