@bodyBgColor: #f7f8fa;
@badyContentBgColor: #fff; // Body Background
@menuBgColor: rgba(18, 19, 26, 0.9); // Encoded SVG Background

@blue: #337eff;
@blue-hover: #337eff;
@blue-active: #215ed9;

@red: #f24957;

@green: #52c41a;

@yellow: #ffaf0f;

@black-2: #222;
@black-3: #333333;
@black-6: #666;
@black-9: #999;
@black-c: #ccc;
@black-light: #f2f2f5;
@black-extra-light: #f7f7fa;

@tip-color: rgba(0, 0, 0, 0.45);

// CSS Variables 定义（单一数据源）
:root {
  // 主色
  --primary-color: @blue;
  --primary-hover: @blue-hover;
  --primary-active: @blue-active;
  --tip-color: @tip-color;
  --bg-color: #f4f5f7;
  --success-color: @green;
  --processing-color: @blue;
}

:root {
  --color-ysf-primary: #505efa; /* 主题色 */
  --color-ysf-primary-hover: #7a8aff; /* 主题色-悬停 */
  --color-ysf-primary-active: #3941d4; /* 主题色-激活 */
  --color-ysf-success: #12b864; /* 成功 */
  --color-ysf-danger: #fd4747; /* 错误 */
  --color-ysf-warn: #ff9b0f; /* 警告 */
  --color-ysf-main: #1a1a1a; /* 一级文字，标题正文 */
  --color-ysf-secondary: #767580; /* 二级文字，描述 */
  --color-ysf-third: #aeadb8; /* 三级文字，辅助说明 */
  --color-ysf-disabled: #bebcc7; /* 禁用/暗纹 */
  --color-ysf-line: #dfdfe5; /* 按钮线框 */
  --color-ysf-line-light: #ebebf0; /* 按钮线框-浅 */
  --color-ysf-bg: #f2f2f7; /* 背景色 */
  --color-ysf-bg-hover: #f2f2f5; /* 背景色-悬停 */
  --color-ysf-bg-active: #e3e3e6; /* 背景色-激活 */
  --color-ysf-table-head: #f7f7fa; /* 表头颜色 */
  --color-ysf-mask: rgba(0, 0, 0, 0.45); /* 遮罩背景 */
  --color-ysf-selected: rgba(80, 94, 250, 0.08); /* 选中 */

  /* 圆角变量 */
  --radius-ysf-s: 4px;
  --radius-ysf-m: 6px;
  --radius-ysf-l: 8px;
  --radius-ysf-xl: 12px;

  /* 阴影变量 */
  --shadow-ysf-m: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-ysf-l: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  /* 间距变量 */
  --space-ysf-xs: 4px;
  --space-ysf-s: 8px;
  --space-ysf-m: 12px;
  --space-ysf-l: 16px;
  --space-ysf-xl: 20px;
  --space-ysf-xxl: 24px;
}
