@import './color.less';
@import '~antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件

.semi-tree-select-popover .semi-tree-wrapper .semi-tree-option-list {
  min-width: 300px;
  max-height: 500px;
}

.semi-popover-wrapper {
  border-radius: 2px;
  outline: none;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0 4px 4px 0;
}

.ant-modal-content {
  border-radius: 8px;
}

.ant-modal-header {
  border-radius: 8px 8px 0 0;
}
