.agent-template-up-wrap {
  &:hover {
    .agent-template-up-edit {
      display: flex;
    }
  }
}

.agent-template-up-wrapper {
  display: none;
}

.agent-template-up-btn_default {
  border: 1px solid transparent;
}

.agent-template-up-btn_select {
  border: 1px solid #337eff;
}
