.m-operations {
  &-body {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    > :not(:first-child) {
      margin-left: 10px;
    }
  }

  &-right {
    > :not(:first-child) {
      margin-left: 10px;
    }
  }
}
