.EditApp {
  padding: 12px 16px 16px;
  height: 100%;

  &-loading {
    height: 100%;

    & > .ant-spin-container {
      height: 100%;
    }
  }

  .ant-spin-nested-loading > div > .ant-spin {
    max-height: 100%;
  }
}
