.graph-edit-title {
  &-input {
    width: 240px;
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;
  }

  &-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: auto;
    margin-block-end: 0px;
    font-weight: 600;
    cursor: pointer;

    &-icon {
      display: inline-block;
      margin-left: 8px;
      color: #337eff;
      cursor: pointer;

      svg {
        vertical-align: middle;
      }
    }
  }
}
