.layout-breadcrumb {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-breadcrumb {
    font-size: 18px;
  }

  .breadcrumb-item__clickable {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);

    &:hover {
      color: var(--primary-color);
    }
  }
}
